// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E6DA34;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sw-yellow: #E6DA34;
$black: #131010;
$dark-grey: #494949;
$white: #E7E7E7;



// Light side gradient:
// linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(56, 58, 199, 0.30))
// Dark-side gradient:
// linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(172, 1, 1, 0.30))
