<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/thomasbaumann-mtl/grogu" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/starwars" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/StarWars" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
   © 2022, Grogu.
  </div>
</div>
