<div class="container d-flex justify-content-center">
  <div>
    <div class="slogan-text">
      <h3>FROM A GALAXY FAR FAR AWAY, RIGHT TO YOUR DOOR.</h3>
    </div>

    <div class="cards">

      <%= link_to my_offers_path, style:"text-decoration-color: white" do %>
        <div class="card" style="align-items: center">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1547700055-b61cacebece9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80)">
            My offers on GROGU
          </div>
        </div>
      <% end %>

      <%= link_to offers_path, style:"text-decoration-color: white" do %>
        <div class="card" style="align-items: center">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://flypaper.soundfly.com/wp-content/uploads/2017/11/r2d2.jpg)">
           All offers <br/> in the Galaxy
          </div>
        </div>
      <% end %>

      <%= link_to my_bookings_path, style:"text-decoration-color: white" do %>
        <div class="card" style="align-items: center">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.slashfilm.com/img/gallery/the-12-best-boba-fett-moments-in-star-wars-shows-and-movies/l-intro-1632164816.jpg)">
            My bookings
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
