<div class="container text-white">
  <h1>All our offers</h1>

  <% @offers.each do |offer| %>
    <div class="cards-offer">
      <div class="card-container">
        <h2><%= offer.title %></h2>
        <p><%= offer.description %></p>
        <p><%= offer.price %> CREDITS</p>
      </div>
    </div>
  <% end %>
</div>
