<div class="container">
  <h1>My offers</h1>
  <% @offers.each do |offer| %>
    <div>
      <% offer.user_id == current_user %>
      <%= offer.title%>
    </div>
    <div>
      <%= offer.description %>
      <p> <%= offer.price %> $ </p>
    </div>
    <hr>
  <% end %>
</div>
