<div class="container text-white">
  <h1>My offers</h1>
  <% @offers.each do |offer| %>
      <h3><%= offer.title%></h3>
      <p><%= offer.description %></p>
      <p><%= offer.price %> CREDITS </p>
    <hr>
  <% end %>
</div>
