.map_card_container {
 display: flex;
}

#map {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

@media(max-width: 1400px) {
  .grid_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
