// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "footer";
@import "container";

// General index css
.slogan-text {
  color: #E6DA34;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}
