// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "btn";
@import "card";
@import "container";
@import "footer";
@import "form";
@import "map";
@import "max_width";
<<<<<<< HEAD
@import "btn-width";
=======
@import "navbar";
>>>>>>> master

// General index css


// icons for map
// empire
// <i class="fa-brands fa-galactic-republic"></i>
// rebellion
// <i class="fa-solid fa-jedi"></i>


// Light side gradient:
.light {
  background-image: radial-gradient(ellipse farthest-side at bottom center, rgba(46,103,248, 0.50), rgba(245, 246, 252, 0));
}
.jedi {
  color: rgb(46,103,248)
}
// Dark-side gradient:
.dark {
  background-image: radial-gradient(ellipse farthest-side at bottom center, rgba(235,33,46, 0.50), rgba(245, 246, 252, 0));
}
.sith {
  color: rgb(235,33,46)
}

// Light side gradient:
.light-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(46,103,248, 0.15));
}
// Dark-side gradient:
.dark-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(235,33,46, 0.15));
}
