// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";

// General index css
.slogan-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E6DA34;
}
