// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "footer";
@import "container";
@import "map";
@import "form";
@import "btn";
@import "max_width";

// General index css
.slogan-text {
  color: #E6DA34;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

// icons for map
// empire
// <i class="fa-brands fa-galactic-republic"></i>
// rebellion
// <i class="fa-solid fa-jedi"></i>


// Light side gradient:
.light {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(46,103,248, 0.30));
}
// Dark-side gradient:
.dark {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(235,33,46, 0.30));
}

// Light side gradient:
.light-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(46,103,248, 0.15));
}
// Dark-side gradient:
.dark-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(235,33,46, 0.15));
}
