.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #131010;
  border-radius: 4px;
  border: 1px solid #494949;
  box-shadow: 0 0 6px #494949;
}

.popup-link {
  text-decoration: none;
  color: #E6DA34;
  font-weight: bold;
}

.popup-link:hover {
  color: #d1c62e;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
