.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 1px;
}

.search-form-control .form-control {
  height: 2.5rem;
  width: 25rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #E6DA34;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.site-name {
  list-style: none;
  position: absolute;
  top: 25px;
  left: 70px;
  color: #767678;
}

.link-site {
  color: #767678;
  text-decoration: none;
}

.link-site:hover {
  color: #494949;
}
