// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// general CSS
body {
  background-image: url("http://www.laterre.ca/wp-content/uploads/ciel-etoile550x324.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 70px;
}
